.post-card{
    background-color: #33112b;
    width: 500px;
    height: 400px;
    display: block;
    position: relative;
    margin: auto;
    margin-bottom: 50px;
    overflow: hidden;
}

.post-image{
    height: 300px;
    width: 100%;
    text-align: center;
    object-fit: cover;
}

.post-card-title{
    position: absolute;
    text-decoration: none;
    top: 140px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fbc23f;
    font-family: "Bangers", "cursive";
    font-size: 50px;
    text-shadow: 6px 6px 0 #26021d;
    text-align: center;
}

.post-card-description{
    height: 100px;
    color: #d08a12;
    font-family: "Bangers", "cursive";
    font-size: 25px;
    text-shadow: 2px 2px 0 #26021d;
    text-align: center;
    padding: 20px 20px 20px 20px;
}

.page-buttons-container {
    margin: auto;
    text-align: center;
}

.page-button {
    color: #d08a12;
    font-size: 30px;
    text-decoration: none;
    border: 2px solid #d08a12;
}

.page-button:hover {
    color:#fbc23f;
    border-color: #fbc23f;
}

