.homepage-heading {
    color: #fbc23f;
    font-family: "Bangers", "cursive";
    font-size: 70px;
    text-shadow: 4px 4px 0 #33112b;
}

@media screen and (max-width: 600px) {
    .homepage-heading {
        font-size: 60px;
    }
}

.homepage-content {
    color: #d08a12;
    font-family: "Bangers", "cursive";
    font-size: 30px;
}

.homepage-qualifications {
    color: #d08a12;
    font-family: "Bangers", "cursive";
    font-size: 30px;
}

.homepage-container {
    padding-left: 10%;
    padding-right: 10%;
}

.homepage-stack {
    height: 70px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon-container-label {
    color: #d08a12;
    font-family: "Bangers", "cursive";
    font-size: 30px;
    display: inline-block;
    
}

.icon-container {
    margin-left: 10px;
}

.icon-list {
    display: inline-flex;
    align-items: flex-start;
    width: 80%;
    overflow-x: scroll;
}

.icon-list::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .icon-list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


.tech-icon {
    width: 50px;
    height: 50px;
}

.about-me-header-image {
    width: 400px;
    height: auto;
    position: absolute;
    top: -100px;
    left: 300px;
    border-bottom: 3px solid #d08a12 ;
    filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(270deg);
}

.page-section {
    position: relative;
}


.image-section {

    text-align: center;
}