.main-post {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.link-holder {
    width: 30%;
    max-width: 300px;
    box-sizing: border-box;
}

.link-holder li {
    color: #d08a12;
}

.link-holder li:hover {
    color: #fbc23f;
}

.post-holder {
    padding-left: 10%;
    padding-right: 10%;
    width: 70%;
    box-sizing: border-box;
}

.post-title{
    color: #fbc23f;
    font-family: "Bangers", "cursive";
    font-size: 50px;
    text-shadow: 6px 6px 0 #26021d;
}

.post-date {
    color: #fbc23f;
    font-size: 20px;
    margin-top: 20px;
}

.post-content{
    color: white;
    font-weight: bold;;
    font-family: 'Open Sans', "cursive";
    font-size: 20px;
    text-shadow: 2px 2px 0 #26021d;
    text-align: left;
    box-sizing: border-box;
}

.post-content a {
    color: #fbc23f;
    text-decoration: none;
}
.post-content a:hover {
    color: #d08a12;
}

.post-link {
    color: inherit;
    font-family: "Bangers", "cursive";
    font-size: 20px;
    text-shadow: 2px 2px 0 #26021d;
    text-align: left;
    text-decoration: none;
}
.post-link::marker {
    color: #fbc23f;
}

.language-markup {
    background: #26021d;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px;
}

code {
    -moz-tab-size: 3;
    tab-size: 3;
    word-spacing: -2px;
    font-size: 16px;
}

.img-responsive {
    width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #26021d;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d08a12;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #fbc23f;
  }

@media screen and (max-width: 800px) {
    .link-holder {
        display: none;
    }
    .post-holder {
        padding-right: 0px;
        padding-left: 0px;
        width: 90%;
        margin: auto;
        text-align: center;
    }

    .post-content {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }
}


@media screen and (max-width: 400px) {
    .post-title {
        font-size: 40px;
    }
}