.project-card{
    display: inline-block;
    background-color: var(--bg-color-2);
    width: 300px;
    height: 400px;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.project-title{
    color: var(--text-color-2);
    font-family: "Bangers", "cursive";
    font-size: 20px;
    text-shadow: 2px 2px 0 var(--bg-color-3);
}

.project-content{
    color: var(--text-color-1);
    font-family: "Bangers", "cursive";
    font-size: 14px;
    text-shadow: 2px 2px 0 var(--bg-color-3);
    padding: 10px;
}

.project-image{
    height: 200px;
    object-fit: cover;
}

.stretched-image {
    width: 100%;
}

.card-containter{
    text-align: center;
    width: 100%;
    padding-top: 70px;
}

.project-description {
    height: 50px;
    margin: 10px;
    margin-top: 0px;
    overflow-y: hidden;
}

.project-link {
    text-align: center;
    color: var(--text-color-1);
    fill: var(--text-color-1);
}

.project-link a {
    display: inline-block; 
    vertical-align: middle;
    font-size: 20px;
    text-decoration: none;
    color: var(--text-color-1);
    
}

.project-link a:hover {
    text-decoration: none;
    color: var(--text-color-2);
    fill: var(--text-color-2);
}

.project-github-link {
    fill: inherit;
}

.project-github-link:hover {
    fill: inherit;
}

.project-link-proprietary {
    font-size: 20px;
}

.project-tags {
    width: 100%;
    text-align: center;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}