.project-card{
    display: inline-block;
    background-color: #33112b;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.project-title{
    color: #fbc23f;
    font-family: "Bangers", "cursive";
    font-size: 20px;
    text-shadow: 2px 2px 0 #26021d;
}

.project-content{
    color: #d08a12;
    font-family: "Bangers", "cursive";
    font-size: 14px;
    text-shadow: 2px 2px 0 #26021d;
    padding: 10px;
}

.project-image{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.card-containter{
    text-align: center;
    width: 100%;
}