html {
    height: 100%;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
}

main {
    background-color: var(--bg-color-3);
    padding-top: 80px;
    /* padding-left: 10%;
    padding-right: 10%; */
    padding-bottom: 10px;
    min-height: 100%; 
}

.headers-container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.admin-header {
    width: 100%;
    height: 30px;
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    padding: 0.4rem 1rem;
    z-index: 1;
}

.main-header {
    width: 100%;
    height: 30px;
    background-color: var(--bg-color-2);
    z-index: 1;
}

.main-nav {
    width: 100%;
    background-color: var(--bg-color-2);
}

.admin-nav-items {
    margin: auto;
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    list-style: none;
}

.admin-nav-item {
    display: inline-block;
    margin-right: 5px;
    padding-top: 10px;
}

.nav-items {
    margin: auto;
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    list-style: none;
}

.nav-item {
    display: inline-block;
    margin-right: 5px;
    padding-top: 10px;
}

.social-nav{
    float: right;
}

.nav-item a {
    color: var(--text-color-2);
    font-family: 'Bangers', cursive;
    font-size: 25px;
    text-decoration: none;
}

.nav-item a:hover {
    color: var(--text-color-2);
    font-family: 'Bangers', cursive;
    text-decoration: underline;
}

svg {
    fill: var(--text-color-2);
}

svg:hover {
    fill: var(--bg-color-3);
    cursor: pointer;
}

.nav-icon-container {
    top: 0px;
    left: 10px;
    z-index: 100;
    display: inline-block;
    background: var(--bg-color-1);
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 50%;
}

.nav-icon {
    position: relative; 
    top: 50%;
    left: 50%;
    transform: translate(-53%, -53%);
    width: 25px; 
    height: 32px;
}

.nav-icon-container-clicked {
    border: var(--text-color-2);
    border-width: 3px;
    border-style: solid;
}

.nav-icon-container-not-clicked {
    border: none;
}

#modal {
    left: 0px;
    top: 43px;
    position:fixed;
    height: 100%;
    width: 200px;
    background-color: var(--bg-color-1);
    padding-top: 40px;
    padding-left: 20px;
}

.modal-visible {
    visibility: visible;
    
}

.modal-hidden {
    visibility: hidden;
}

.modal-nav-items {
    text-decoration: none;
}

.modal-nav-item a{
    color: var(--text-color-2);
    font-family: 'Bangers', cursive;
    font-size: 25px;
    text-decoration: none;
}

.modal-social {
    display: inline;
}


@media screen and (max-width: 400px) {
    .nav-items {
        display: none;
    }

    #modal {
        width: 100%;
        text-align: center;
    }

    .modal-social svg {
        width: 40px;
        height: 40px;
    }

    .modal-nav-item a{
        font-size: 40px;
    }
}

.page-container {
    display: flex;
    flex-direction: row;
}

.sidemenu-container {
    width: 200px;
}

.editor-container {
    width: calc(100% - 200px);
    padding: 20px;
}

.chart-container{
    display: inline-block;
    width: 59%;
}

.small-chart {
    width: 40%;
}

@media screen and (max-width: 800px) {
    .chart-container{
        width: 100%;
    }
    .sidemenu-container {
        display: none;
    }
    .editor-container {
        width: 100%;
        box-sizing: border-box;
    }
}

.group-header {
    color: var(--text-color-2);
    font-size: 20px;
}

.soclink {
    margin-bottom: 10px;
    font-size: 20px;
    color: var(--text-color-2);
}

.soclink input {
    height: 20px;
    background-color: var(--bg-color-1);
    color: var(--text-color-2);
    border: none;
    border-radius: 2px;
}

.editor-button {
    color: #26021d;
    background-color: var(--text-color-2);
    border: 2px solid var(--text-color-2);
    border-radius: 5px;
    width: 80px;
    height: 30px;
}

.editor-button:hover {
    color: var(--text-color-2);
    background-color: var(--bg-color-1);
    border: 2px solid var(--text-color-2);
    cursor: pointer;
    
}

footer {
    padding: 20px;
    text-align: center;
    background-color: var(--bg-color-1);
    color: var(--text-color-1);
}

footer a {
    color: var(--text-color-2);
}