<%: func HandlePost(links []models.Link, post models.Post, w io.Writer)%>
<%~ "index.html" %>
<%@ body { %>
    <div class="main-post">
    
        <ul class="link-holder">
            <% for _, link := range links { %>
                <li>
                    <a class="post-link" href="/blog/<%==s link.ID%>"><%==s link.Title %></a>
                </li>
            <% } %>
        </ul>
        <div class="post-holder">
            <div class="post-title"><%==s post.Title%></div>
            <div class="post-date"><%==s post.PublishTimestamp%></div>
            <div class="post-content"><%==s post.Content%></div>
        </div>
    </div>
<% } %>