<%: func HandleEditHomePage(header string, sections []models.PageSection, tags []models.Tag, w io.Writer)%>
<%~ "index.html" %>
<%@ body { %>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/content/js/he.js"></script>
    <script src="/content/js/edithomepage.js"></script>

    <div class="editor-container">
        <div class="sections-header">Sections:</div>
        <form onsubmit="event.preventDefault()" id="form1" action="/homepage/edit" enctype="multipart/form-data" method="POST">
            <% for _, section := range sections { %>
            <div class="input-container" id="input-container-<%=s section.GetID() %>">
                <%  if as, ok := section.(models.TextSection); section.GetType() == "text" && ok {%>
                    <% %>
                    <%+ "homepage/homepagesections/textsection.html" %>
                <% } %>
                <% if as, ok := section.(models.ImageSection); section.GetType() == "image" && ok{%>
                    <%+ "homepage/homepagesections/imagesection.html" %>
                <% } %>
                <%  if as, ok := section.(models.StackSection); section.GetType() == "stack" && ok {%>
                    <%+ "homepage/homepagesections/stacksection.html" %>
                <% } %>
            </div>
            <% } %>
            
        </form>
        <button id="show-type-modal-button">Add section</button>
        <button id="save-homepage-sections-button">Save</button>
        <div id="homepage-section-type-modal">
            <button id="type-modal-button-text">Text</button>
            <button id="type-modal-button-image">Image</button>
            <button id="type-modal-button-stack">Stack</button>
        </div>
    </div>
    
<% } %>