<%: func Homepage(settings models.Settings, page models.Page2, w io.Writer) %>
<%~ "index.html" %>
<%@ body { %>
    <div class="homepage-container">
        <% for index, section := range page.Sections { %>
            <% 
                sectionType := section.GetType()
                if sectionType == "text" {
                    textSection, _ := section.(models.TextSection)
                    header := textSection.Header
                    content := textSection.Content
                    if true {
            %>
                <div class="page-section text-section">
                    <h3 class="homepage-heading"><%==s header %></h3>
                    
                    <div class="homepage-content"><%==s content %></div>
                </div>
            <%      }
                } 
            %>
            <%
                if sectionType == "stack" {
                    stackSection, _ := section.(models.StackSection)
                    name := stackSection.Name
                    tagSections := stackSection.TagSections
            %>
                <div class="page-section stack-section">
                    <h3 class="homepage-heading"><%=s name %></h3>
                    <%
                        for _, tagSection := range tagSections {
                            name := tagSection.Name
                    %>
                    <div class="homepage-stack">
                        <div class="icon-container-label" ><%=s name %></div>
                        <div class="icon-list">
                            <%
                                tags := tagSection.Tags
                                for _, tag := range tags {
                            %>
                                <div class="icon-container">
                                    <img src="/content/images/<%=s tag.Thumbnail %>" class="tech-icon"/>
                                </div>
                            <%
                                }
                            %>
                        </div>
                    </div>
                    <% } %>
                </div>
            <%  } %>
            <%
                if sectionType == "image" {
                    imageSection, _ := section.(models.ImageSection)
                    fmt.Println(section)
            %>
                <div class="page-section image-section" style="text-align: <%=s imageSection.Align %>;">
                    <img src="/content/images/<%=s imageSection.Image %>" class="image-section-image" width="<%=f imageSection.Width %>" height="<%=f imageSection.Height %>"/>
                </div>
            <%  } %>
            <%
                if sectionType == "3dmodel" {
                    modelSection, _ := section.(models.ModelSection)
                    filename := modelSection.FileName
            %>
                <div class="page-section model-section">
                    <div class="section-model" id="section-model-<%=i index %>"></div>
                   <div class="model-filename" style="display: none;"><%=s filename %></div>
                </div>
            <%  } %>
        <% } %>
        <!-- <div class="page-section">
            
        </div>
        <div class="page-section">
            <h3 class="homepage-heading">About Me</h3>
            
            <p class="homepage-content">I'm currently a college student at the University of Belgrade looking for work in 
                the web development industry. <br> My programming journey started 10 years ago. Since 
                then I finished high school at Belgrade's 14th gimnasium, enrolled at University of Belgrade's Faculty of 
                Organisational Science's IT programme, and used all sorts of databases, languages and frameworks.</p>
        </div>
        <div class="page-section">
            <h3 class="homepage-heading">Qualifications</h3>
            <ul>
                <li class="homepage-qualifications">High school degree from Belgrade's 14th gimnasium</li>
                <li class="homepage-qualifications">3rd year of a 4 year bachelor's degree at the University of Belgrade</li>
                <li class="homepage-qualifications">Can speak English and Serbian fluently</li>
            </ul>
        </div>
        <div class="page-section">
            <h3 class="homepage-heading">My Stack</h3>
            <div class="homepage-stack">
                <div class="icon-container-label" >Client Side:</div>
                <div class="icon-list">
                    <div class="icon-container">
                        <img src="/content/images/HTML5-logo.svg" class="tech-icon"/>
                    </div>
                    <div class="icon-container">
                        <img src="/content/images/CSS3-logo.svg" class="tech-icon"/>
                    </div>
                    <div class="icon-container">
                        <img src="/content/images/JavaScript-logo.svg" class="tech-icon"/>
                    </div>
                    <div class="icon-container">
                        <img src="/content/images/React-logo.svg" class="tech-icon"/>
                    </div>
                    <div class="icon-container">
                        <img src="/content/images/Typescript-logo.svg" class="tech-icon"/>
                    </div>
                    <div class="icon-container">
                        <img src="/content/images/PixiJS-logo.svg" class="tech-icon"/>
                    </div>
                    <div class="icon-container">
                        <img src="/content/images/WebGL-logo.svg" class="tech-icon"/>
                    </div>
                    <div class="icon-container">
                        <img src="/content/images/C++-logo.svg" class="tech-icon"/>
                    </div>
                    <div class="icon-container">
                        <img src="/content/images/Webpack-logo.svg" class="tech-icon"/>
                    </div>
                </div>
            </div>
            <div class="homepage-stack">
                <div class="icon-container-label" >Server Side:</div>
                <div class="icon-list">
                    <div class="icon-container">
                        <img src="/content/images/Go-logo.svg" class="tech-icon"/>
                    </div>
                    <div class="icon-container">
                        <img src="/content/images/Docker-logo.svg" class="tech-icon"/>
                    </div>
                    <div class="icon-container">
                        <img src="/content/images/Kubernetes-logo.svg" class="tech-icon"/>
                    </div>
                    <div class="icon-container">
                        <img src="/content/images/NodeJS-logo.svg" class="tech-icon"/>
                    </div>
                    <div class="icon-container">
                        <img src="/content/images/Java-logo.svg" class="tech-icon"/>
                    </div>
                    <div class="icon-container">
                        <img src="/content/images/AWS-logo.svg" class="tech-icon"/>
                    </div>
                    <div class="icon-container">
                        <img src="/content/images/Heroku-logo.svg" class="tech-icon"/>
                    </div>
                </div>
            </div>
            <div class="homepage-stack">
                <div class="icon-container-label">Databases:</div>
                <div  class="icon-list">
                    <div class="icon-container">
                        <img src="/content/images/MongoDB-logo.svg" class="tech-icon"/>
                    </div>
                    <div class="icon-container">
                        <img src="/content/images/Postgresql-logo.svg" class="tech-icon"/>
                    </div>
                    <div class="icon-container">
                        <img src="/content/images/Redis-logo.svg" class="tech-icon"/>
                    </div>
                    <div class="icon-container">
                        <img src="/content/images/MySQL-logo.svg" class="tech-icon"/>
                    </div>
                </div>
            </div>
            <div class="homepage-stack">
                <div class="icon-container-label">Other tools:</div>
                <div class="icon-list">
                    <div class="icon-container">
                        <img src="/content/images/Git-logo.svg" class="tech-icon"/>
                    </div>
                    <div class="icon-container">
                        <img src="/content/images/Vim-logo.svg" class="tech-icon"/>
                    </div>
                    <div class="icon-container">
                        <img src="/content/images/Visual-Studio.svg" class="tech-icon"/>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <script>
        window.onload = function() {
            let modelSections = document.getElementsByClassName("model-section")
            for(let i = 0; i < modelSections.length; i++) {
                let fileName = modelSections[i].getElementsByClassName("model-filename")[0].innerHTML
                let sectionModel = modelSections[i].getElementsByClassName("section-model")[0]
                let id = sectionModel.id
                var stl_viewer = init3dViewer(id)
                stl_viewer.add_model({id:i, filename: '/content/images/'+fileName})
            }
        }
        
    </script>
<% } %>