<%: func HandleEditSettings(settings models.Settings, w io.Writer)%>
<%~ "index.html" %>

<%@ body { %>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/content/js/he.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script type="module" src="/content/js/editsettings.js"></script>

    <!--TODO: Add systems for backing up and scheduling backups, view comments, ban IPs, reviewing logs, view
    statistics, -->
    <div class="page-container">
        <div class="sidemenu-container">
            <%+ "sidemenu/sidemenu.html" %>
        </div>
        <div class="editor-container">
            <div class="editor-item dashboard-list timeline">
                <div class="timeline-item timeline-comment">
                    <div class="timeline-comment-header">Guest123 commented</div>
                    <p class="timeline-comment-body">Bla bla bla bla bla!</p>
                </div>
            </div>
            <div class="editor-item dashboard-list logs">
                <div class="logs-item">
                    199.199.199.199 connected!
                </div>
            </div>
            <div class="editor-item backup">
                <button class="editor-button">Backup</button>
                
            </div>
            <div class="editor-item ip-management"></div>
            <div class="editor-item social-media">
                <div>
                    <div class="group-header">
                        Links
                    </div>
                    <div class="group-body">
                        <%
                            for _, soclink := range settings.SocialLinks {
                        %>
                                <div class="soclink">
                                    <span><input class="soclink-name" type="text" value="<%==s soclink.Name %>"/></span>=<span><input class="sociallink-link" type="text" value="<%==s soclink.Link %>"/></span>
                                </div>
                        <%
                            }
                        %>
                        <div></div>
                    </div>
                </div>
                <div>
                    <div class="group-header">
                        Settings
                    </div>
                    <div class="group-body">
                        <div>
                            <label for="website-name">Website name: </label>
                            <input id="settings-websitename" name="websitename" class="sociallink-link" type="text" value="<%==s settings.WebsiteName %>"/>
                        </div>
                        <div>
                            <label for="website-logo">Website logo: </label>
                            <input id="settings-logo-input" type="file"/>
                            <div>
                                <img id="settings-logo-image" src="/content/images/<%==s settings.Logo %>">
                            </div>
                        </div>
                        <div>
                            <label for="website-color-1">Color 1: </label>
                            <input id="settings-background-color-1" name="backgroundColor1" class="sociallink-link" type="text" value="<%==s settings.BackgroundColor1 %>"/>
                        </div>
                        <div>
                            <label for="website-color-2">Color 2: </label>
                            <input id="settings-background-color-2" name="backgroundColor2" class="sociallink-link" type="text" value="<%==s settings.BackgroundColor2 %>"/>
                        </div>
                        <div>
                            <label for="website-color-3">Color 3: </label>
                            <input id="settings-background-color-3" name="backgroundColor3" class="sociallink-link" type="text" value="<%==s settings.BackgroundColor3 %>"/>
                        </div>
                        <div>
                            <label for="website-color-1">Text Color 1: </label>
                            <input id="settings-text-color-1" name="textColor1" class="sociallink-link" type="text" value="<%==s settings.TextColor1 %>"/>
                        </div>
                        <div>
                            <label for="website-color-2">Text Color 2: </label>
                            <input id="settings-text-color-2" name="textColor2" class="sociallink-link" type="text" value="<%==s settings.TextColor2 %>"/>
                        </div>
                        <div>
                            <label for="website-color-3">Text Color 3: </label>
                            <input id="settings-text-color-3" name="textColor3" class="sociallink-link" type="text" value="<%==s settings.TextColor3 %>"/>
                        </div>
                        <div>
                            <button id="save-settings-button">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="editor-item chart-container">
                <div class="chart">
                    <canvas id="myChart"></canvas>
                </div>
                <div>
                    <button id="button-prev">Prev</button>
                    <button id="button-next">Next</button>
                </div>
            </div>
            <div class="editor-item chart-container small-chart">
                <canvas id="myChart2"></canvas>
            </div>

        </div>
    </div>

    <script>
        const labels = [
            'January',
            'February',
            'March',
            'April',
            'May',
            'June',
        ];

        const data = {
            labels: labels,
            datasets: [{
            label: 'My First dataset',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [0, 10, 5, 2, 20, 30, 45],
            }]
        };

        const config = {
            type: 'line',
            data: data,
            options: {}
        };

        // const myChart = new Chart(
        //     document.getElementById('myChart'),
        //     config
        // );

        const data2 = {
            labels: [
                'Red',
                'Blue',
                'Yellow'
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [300, 50, 100],
                backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
            };

        const config2 = {
            type: 'doughnut',
            data: data2,
        };
    
        // const myChart2 = new Chart(
        //     document.getElementById('myChart2'),
        //     config2
        // );
    
    </script>
    
<% } %>